
<div class="container">
	<div class="row">
		<div class="team-member col s6" style="text-align: center;">
			<img class="responsive-img" src="/resources/team_photos/john_photo.jpg">
			<h4>John Chen</h4>
			<h6>Editor-in-Chief</h6>
			<p>John is a 4th year CS student at the University of Toronto, St. George Campus. He is a big fan of undergrad research, and educational outreach in CS. He enjoys the twin branches of CS: the theory and the practice; the research conference and the hackathon; the NP reduction and the multithreading software engineering, and dichotomies in general. Outside of CS, his hobbies include chess, military history and board games.</p>
		</div>
		<div class="team-member col s6" style="text-align: center;">
			<img class="responsive-img" src="/resources/team_photos/samir_photo.jpg">
			<h4>Farhan Samir</h4>
			<h6>Editor</h6>
			<p>Samir is in his fourth year at the University of Toronto, majoring in Computer Science and English. He enjoys good grammar and listening to Kanye West.</p>
		</div>
	</div>
	<div class="row">
		<div class="team-member col s6" style="text-align: center;">
			<img class="responsive-img" src="/resources/team_photos/nana_photo.jpg">
			<h4>Nana Nasirova</h4>
			<h6>Editor</h6>
			<p>Nana is a third-year computer science student at the University of Toronto, focusing in AI. In her spare time, Nana enjoys reading French literature and playing the piano.</p>
		</div>
		<div class="team-member col s6" style="text-align: center;">
			<img class="responsive-img" src="/resources/team_photos/osama_photo.jpg">
			<h4>Osama Kawish</h4>
			<h6>Editor</h6>
			<p>Osama is a Math Specialist Bachelor's degree graduate from the University of Toronto. He enjoys writing, programming, mathematics, and thinking creatively to develop new and useful ideas. He also enjoy meeting new people to form friendships.</p>
		</div>
	</div>
	<div class="row">
		<div class="team-member col s6" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/danya_photo.jpg">
			<h4>Danya Lette</h4>
			<h6>Editor</h6>
			<p>Danya is a computer science specialist with an interest in AI and theory. She has an eclectic background, and formerly completed a degree in philosophy at U of T. Danya spends her free time reading novels, eating popcorn, and thinking about thinking. </p>
		</div>
		<div class="team-member col s6" style="text-align: center;">
			<img class="responsive-img" src="/resources/team_photos/lynn_photo.jpg">
			<h4>Lynn Liu</h4>
			<h6>Graphic Artist</h6>
			<p>Lynn is a third year student pursuing a double major in Computer Science and European Studies, and a minor in Russian. She hopes to learn many more languages - both computer and human ones - in the future.</p>
		</div>
	</div>
	<div class="row">
		<div class="team-member col s6" style="text-align: center;">
			<img class="responsive-img" src="/resources/team_photos/tyler_photo.jpg">
			<h4>Tyler Pham</h4>
			<h6>Webmaster</h6>
			<p>Tyler is a 4th year student at UofT, specializing in computer science. He loves to stay active; whether it be in the gym, on the water paddling, or taking a hike to who knows where.</p>
		</div>
	</div>

	<!--clean this up later and have the team page generated with liquid templates
	<div>
		{% for i in (1..10) %}
			{{ i }}
		{% endfor %}
	</div>-->

</div>
