<div class="container about">
	<div class="row center">
		<h3>About Us</h3>
	</div>

	<p>
		RUCS, the Review of Undergraduate Computer Science, is the first publication from a top 20 university dedicated solely to undergraduate computer science. We are a non-archival open-access journal that features the best of undergraduate computer science research at the University of Toronto and other top universities. Founded in 2015 by Kawin Ethayarajh, RUCS alumni include graduate students at top schools and Googlers.
	</p>
	<p>
		We strive to make research more accessible and participatory, especially to undergrads. Our hope is that RUCS fosters a positive and supportive environment to foster curiosity for the next-generation of computer science researchers.
	</p>
</div>
