<div class="container about">
	<div class="row center">
		<h3>About Us</h3>
	</div>
<p>RUCS, the Review of Undergraduate Science, is the first publication, from a top 20 university, dedicated solely to undergraduate computer science. We are an open-access journal that features the best of undergraduate computer science research at U of T and other top universities. Founded in 2015 by Kawin Ethayarajh, RUCS alumni include graduate students at top schools and Googlers.
</p><p>
We strive to make research more accessible and participatory, especially to undergrads. Our hope is that RUCS fosters a positive and supportive environment to foster curiosity for the next-generation of curious computer science researchers.<p>
</div>
