<div class="container">
	<div class="row center">
		<h3>Call for Submissions</h3>
	</div>
	<p>Submissions for 2018-2019 are currently not open. However, if you have an abstract that you wish to submit early, please feel free to do so by following the steps in the submission information.</p>
	<p>Before submitting, please read the <a href="assets/info/Submitting-to-RUCS.pdf target="_blank">submission information</a> to learn everything you need to know about submitting to RUCS.</p>
	If you have any questions, don't hesistate to contact us at <a href="mailto:rucsuoft@gmail.com">rucsuoft@gmail.com</a>.
</div>
