<div class="container">
	<div class="row center">
		<h3>Call for Submissions</h3>
	</div>
  <p>
		Submissions for the 2018-2019 edition of the Review of Undergraduate Computer Science (RUCS) are now open! Read the <a href="assets/info/Submitting-to-RUCS.pdf" target="_blank">submission information</a> to learn everything you need to know about submitting to RUCS.
  </p>
	<p>The deadline is <b>October 5th, 2018</b>. If you have any questions, don't hesistate to contact us at <a href="mailto:rucsuoft@gmail.com">rucsuoft@gmail.com</a>.
</div>
