<div class="container">
	<div class="row center">
		<h3>Call for Submissions</h3>
	</div>
	<p>Submissions for the 2019-2020 issue are now open. The deadline for submission is <b>February 15, 2019</b>.</p>
	<p>Before submitting, please read the <a href="assets/info/Submitting-to-RUCS.pdf" target="_blank">submission information</a> to learn everything you need to know about submitting to RUCS.</p>
	<p>You can submit through the <a href="https://forms.gle/ABq8jcMdEH65H65K8" target="_blank">online submission form</a>, or if you prefer, you may send the required information in an email.</p>
	If you have any questions, don't hesistate to contact us at <a href="mailto:rucsuoft@gmail.com">rucsuoft@gmail.com</a>.
</div>
