        <li class="strong">
            What if my research is being published or has been published in a professional journal?
        </li>
        <p>
            Professional journals often prohibit publishing elsewhere.
            While RUCS does not aim to compete with these journals in any way,
            as a precaution, your supervisor may not want your abstract published.
            To get their explicit consent, and to verify that they have reviewed
            your submission, the Supervisor Approval form must be signed.
        </p>

        <li class="strong">
            Do I retain all rights to my work?
        </li>

        <p>
            Yes, you retain all rights to your work.  RUCS is a non-archival
            publication that is simply granted a license to publish your work online.
        </p>

        <li class="strong">
            What happens if my submission does not meet all of the criteria?
        </li>

        <p>
            If your extended abstract does not conform to the RUCS guidelines, you
            will be contacted about making the necessary changes to your submission.
            Note that if your submission differs from the guidelines to a significant
            degree, it may be rejected; for this reason, please read the guidelines
            closely before submitting.
        </p>

        <li class="strong">
            If a substantial amount of research has been done but the project is
             not yet complete, is an extended abstract outlining preliminary
             results viable for publication?
        </li>
        <p>
            Yes; discuss with your supervisor what the focus of your extended
            abstract should be.  The structure of your abstract may need to be
            modified accordingly.
        </p>
