<footer class="page-footer">
	<div class="container">
		<div class="row footer-row">
			<div class="col s12 m6 l6 footer-column">
		  		<p class="grey-text text-lighten-4">RUCS is a non-archival publication featuring the best of undergraduate computer science research at the University of Toronto.</p>
			</div>
			<div class="col s12 m3 l3 footer-column" id="masthead-link">
				<p>
					<a href="{{ site.baseurl }}/masthead" class="white-text"><b>Masthead</b></a><br/>
					<a href="{{ site.baseurl }}/archive" class="white-text"><b>Fall 2015</b></a><br/>
					<a href="mailto:kawin@cs.toronto.edu" class="white-text"><b>Contact</b></a>
				</p>
			</div>
            
            
		</div>
		
        
        <div class="row footer-row">
			<div class="col s12 m6 l6 footer-column">
		  		
			<div class="col s14 m6 l6 compsci-logo footer-column" style="clear:left; display:inline-block">
			<a href="http://web.cs.toronto.edu/"><img src="{{ site.baseurl }}/resources/compsci_knocked-out_CS4.svg" /></a>
			</div>
            
			<div class="col s14 m6 l6 compsci-logo footer-column" style="display:inline-block; ">
					<a href="https://www.cornell.edu/"><img style="display:inline-block;" src="{{ site.baseurl }}/resources/cornell.png" /></a>
        </div>
		</div>
	</div>
</footer>
