<p style="font-size:1.15em">Featuring the best of original student research, RUCS is the first publication, from a top 20 university, dedicated solely to undergraduate computer science. RUCS was founded at the University of Toronto and we are very excited to be collaborating with Cornell University for our 2016 issue, submissions for which are currently open. Prospective authors should refer to the submission guidelines and direct any questions to julia@cs.toronto.edu.</p>

<p style="font-size:1.15em">We look forward to reading your work.</p>

<p id="signature" style="font-size:1.15em">Julia Gilenko<br/><em>Editor-in-Chief</em>, RUCS</p>

<br>
<br>
<br>
<br>
