<div class="container news">
	<div class="row center">
		<h3>Announcements</h3>
	</div>
	<p>
		Update: The Undergraduate Research Info Session has been moved to BA 3200.
</p>
<hr>
	<p>
		RUCS is hosting its first-ever Undergraduate Research Info Session on Nov. 20th, 4:00-6:00pm, in BA 2270. This event is a great opportunity to mingle with faculty members and learn about how to get involved in undergraduate research in computer science.
The event is free to attend and we'll be serving dinner! <br>
Sign up <a href="https://goo.gl/forms/O3mfztcbK9ueQVby1" target="_blank">here</a> to reserve your spot.
</p>
<hr>
	<p>
		The submission deadline has now officially passed. If you have submitted already, you can expect to hear back from us before November 5th. Please note that we may still be accepting submissions on a rolling basis until mid-November. So, if you have not submitted yet, <b>please do so ASAP</b>.
	</p>
	<hr>
<p>
   We are currently assembling a team for our 2018-2019 issue! Check out our <span class="hide-on-med-and-up show-on-small">open positions</span><a class="collection-item hide-on-small-and-down" href="#openings">open positions</a>.
</p>
<hr>
<p>
  Submissions for the 2018-2019 edition of the Review of Undergraduate Computer Science (RUCS) are now open! <a class="collection-item hide-on-small-and-down" href="#cfp"> Check it out.</a>
</p>
<hr>
<p>
    We will be hosting an undergraduate research conference jointly with TURCS (Toronto Undergraduate Research in Computer Science) on September 14th!
    More details can be found here: <a href="https://www.facebook.com/events/384875728662254/">Facebook</a>
<p>
<hr>
</div>
