<p>

<b> EDIT: Please reread. 

    Dates Revised Sept. 28th </b> <br/> <br/>

Welcome to the 2017 edition of RUCS. We are now accepting extended abstracts for submission! The deadline for submission has been extended to <b> October 15th for regular consideration</b>. There are four possible decisions for your abstract:

    <ol>
    <li>
        Accept
    </li>
    <li>
        Minor Revision
    </li>
    <li>
        Major Revision
    </li>
    <li>
        Reject
    </li>
    </ol>


Full instructions on submissions (including a .tex template)
can be found in this <a href = https://docs.google.com/document/d/1yVDTbjVuExxzBVFIVpzssB97J2ogHBYiSeqpDMJH_JU/edit?usp=sharing> document</a>
<br> <br>

Special note: starting this year, we will be recognizing the best abstracts in each category with honorary titles and awards!
There will also be <b> extra special </b> mentions for the top three abstracts overall as well as one for best use of infographics.

<br> <br>
Addendum: also, we will be offering assistance with creation of infographics. Please indicate interest when submitting.

<br> <br>
If you have any questions, feel free to e-mail us at rucs@cs.toronto.edu with any questions!

<br> <br>
Sincerely,<br>
the RUCS 2017 Team


</p>
<div class="section center" id="submit-button">
        <a class="waves-effect waves-light btn-large" href="mailto:rucs@cs.toronto.edu">Submit Now!</a>
    </div>
