<div class="container news">
	<div class="row center">
		<h3>Announcements</h3>
	</div>
<p>
   We are currently assembling a team for our 2018-2019 issue! Check out our <span class="hide-on-med-and-up show-on-small">open positions</span><a class="collection-item hide-on-small-and-down" href="#openings">open positions</a>.
</p>
<hr>
<p>
  Submissions for the 2018-2019 edition of the Review of Undergraduate Computer Science (RUCS) are now open! <a class="collection-item hide-on-small-and-down" href="#cfp"> Check it out.</a>
</p>
<hr>
<p>
    We will be hosting an undergraduate research conference jointly with TURCS (Toronto Undergraduate Research in Computer Science) on September 14th!
    More details can be found here: <a href="https://www.facebook.com/events/384875728662254/">Facebook</a>
<p>
<hr>
</div>
