<div class="container openings">
	<div class="row center">
		<h3>Open Positions</h3>
	</div>
  <p>
		We are always in search of team members that are dedicated to research and want to learn more!
		<br/>
		<br/>
		Apply here: <a href="https://forms.gle/GTJn3wiCffh5VZAa6 " target="_blank">Application link</a>
		<br />
		Read about the positions here: <a href="assets/info/Openings.pdf" target="_blank">Position descriptions</a>
  </p>
	<!--<p>Read about more these positions <a href="assets/info/Openings.pdf" target="_blank">here</a>.</p> -->
	<p>If you have any questions, don't hesistate to contact us at <a href="mailto:rucsuoft@gmail.com">rucsuoft@gmail.com</a>.
</div>
