
{% assign goodCats = ',' | split: ',' %}

{% for item in site.posts %}
    {% if item.year != "2015" %}
        {% unless goodCats contains item.category %}
            {% assign goodCats = goodCats | push: item.category %}
        {% endunless %}
    {% endif %}
{% endfor %}

{% assign chapter_titles = goodCats | sort %}

<div class="height-fix">
  <div class="row toc-container row-center-fix">
    <div class="col m3 l3 hide-on-small-and-down toc">
      <div class="marginless-collection collection">

        <a href="#announcements" class="waves-light collection-item">
          <span class="toc-title">Announcements</span>
        </a>

        <a href="#about-us" class="waves-light collection-item">
          <span class="toc-title">About Us</span>
        </a>
        <a href="#submissions" class="waves-light collection-item">
          <div class="toc-title">Current Issue</div>
        </a>
        <a href="#archive" class="waves-light collection-item">
          <div class="toc-title">Archive</div>
        </a>
        <a href="#cfp" target="_blank" class="waves-light collection-item">
          <span class="toc-title">Submit to RUCS</span>
        </a>

        <a href="#openings" target="_blank" class="waves-light collection-item">
          <span class="toc-title">Open Positions</span>
        </a>
      </div>
    </div>

    <div class="col s12 m9 l9 height-fix hide-on-small-and-down" id="toc-content-wrapper">
      <div class="toc-content height-fix" id="toc-content">


        <div class="toc-chapter-content" id="announcements">
          <div id="news">
            {% include news.html %}
          </div>
        </div>


        <div class="toc-chapter-content" id="about-us">
        {% include about-us.html %}
        </div>


        <div class="toc-chapter-content" id="submissions">
          {% include submissions.html %}
        </div>

        <div class="toc-chapter-content" id="archive">
          {% include archive.html %}
        </div>

        <div class="toc-chapter-content" id="cfp">
          {% include cfp.html %}
        </div>

        <div class="toc-chapter-content" id="openings">
          {% include openings.html %}
        </div>
      </div>
    </div>


<!--Small screen sizes (RESPONSIVE DESIGN))-->
    <div class="col s12 hide-on-med-and-up show-on-small">
      <ul class="collapsible collapsible-toc" data-collapsible="accordion">

        <li id="announcements-mini">
          <div class="collapsible-header toc-title">Announcements</div>
          <div class="collapsible-body">
            <!--content-->
            <div id="news-mini">
              {% include news.html %}
            </div>
          </div>
        </li>

        <li id="about-us-mini">
          <div class="collapsible-header toc-title">About Us</div>
          <div class="collapsible-body">
            <!--content-->
            {% include about-us.html %}
          </div>
        </li>

        <li id="submissions-mini">
          <div class="collapsible-header toc-title">Current Issue</div>
          <div class="collapsible-body">
              <!--content-->
              {% include submissions.html %}
          </div>
      </li>


        <li id="archive-mini">
          <div class="collapsible-header toc-title">Archive</div>
          <div class="collapsible-body">
              <!--content-->
              {% include archive.html %}
          </div>
        </li>


        <li id="cfp-mini">
          <div class="collapsible-header toc-title">Submit to RUCS</div>
          <div class="collapsible-body">
              <!--content-->
              {% include cfp.html %}
          </div>
        </li>

        <li id="openings-mini">
          <div class="collapsible-header toc-title">Open Positions</div>
          <div class="collapsible-body">
              <!--content-->
              {% include openings.html %}
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
