<div class="current-issue">

  <div class="hide-on-small-and-down"><img src="assets/2018/banner.png"/></div>
  <div class="hide-on-med-and-up show-on-small"><img src="assets/2018/banner-small.png"/></div>


    <ul class="collapsible" data-collapsible="accordion">

      <li>
        <div class="collapsible-header toc-title">Letter From the Editor</div>
        <div class="collapsible-body">
          <!--content-->
          {% include 2018/letter.html %}
        </div>
      </li>
      <li>
        <div class="collapsible-header toc-title">Our Team</div>
        <div class="collapsible-body">
          <!--content-->
          {% include 2018/team.html %}
        </div>
      </li>
    </ul>

  <ul class="collection submissions-list with-header">
        <a href="a-feed-forward-algorithm-for-arithmetic-circuits" class="submission">
          <div class="submission-number">1</div>
          <div class="submission-info">
            <div class="submission-category">Artificial Intelligence</div>
            <div class="submission-title">A Feed-Forward Algorithm for Arithmetic Circuits</div>
            <div class="submission-author">Andrew Jemin Choi</div>
          </div>
        </a>
        <a href="user-customization-of-caregiving-robots-that-support-older-adults-with-dementia" class="submission">
          <div class="submission-number">2</div>
          <div class="submission-info">
            <div class="submission-category">Artificial Intelligence</div>
            <div class="submission-title">User Customization of Caregiving Robots that Support Older Adults with Dementia</div>
            <div class="submission-author">Zehui (Joyce) Zhou</div>
          </div>
        </a>
        <a href="uncovering-predisposition-to-copd-with-predicted-gene-expression" class="submission">
          <div class="submission-number">3</div>
          <div class="submission-info">
            <div class="submission-category">Computational Biology</div>
            <div class="submission-title">Uncovering predisposition to COPD with predicted gene expression</div>
            <div class="submission-author">Angeline Yasodhara</div>
          </div>
        </a>
        <a href="geodesicness-for-meshfree-simulation-methods" class="submission">
          <div class="submission-number">4</div>
          <div class="submission-info">
            <div class="submission-category">Computer Graphics</div>
            <div class="submission-title">Geodesicness for Meshfree Simulation Methods</div>
            <div class="submission-author">Darren Moore</div>
          </div>
        </a>
        <a href="parallel-approach-to-single-source-shortest-path-problem-on-large-complete-graphs" class="submission">
          <div class="submission-number">5</div>
          <div class="submission-info">
            <div class="submission-category">Computer Systems/Software Engineering</div>
            <div class="submission-title">Parallel approach to single-source shortest path problem on large complete graphs</div>
            <div class="submission-author">Ruijian An</div>
          </div>
        </a>
        <a href="web-valuecharts-analyzing-individual-and-group-preferences-with-interactive-web-based-visualizations" class="submission">
          <div class="submission-number">6</div>
          <div class="submission-info">
            <div class="submission-category">HCI</div>
            <div class="submission-title">Web ValueCharts: Analyzing Individual and Group Preferences with Interactive, Web-based Visualizations</div>
            <div class="submission-author">Aaron Mishkin</div>
          </div>
        </a>
        <a href="solving-pdes-on-deconstructed-domains-for-geometry-processing" class="submission">
          <div class="submission-number">7</div>
          <div class="submission-info">
            <div class="submission-category">Scientific Computing/Numerical Analysis</div>
            <div class="submission-title">Solving PDEs on Deconstructed Domains for Geometry Processing</div>
            <div class="submission-author">Herng Yi Cheng</div>
          </div>
        </a>
        <a href="numerical-pde-methods-for-discontinuous-coefficient-problem" class="submission">
          <div class="submission-number">8</div>
          <div class="submission-info">
            <div class="submission-category">Scientific Computing/Numerical Analysis</div>
            <div class="submission-title">Numerical PDE Methods for Discontinuous Coefficient Problem</div>
            <div class="submission-author">Jienan Yao</div>
          </div>
        </a>
        <a href="history-slicing-as-a-service" class="submission">
          <div class="submission-number">9</div>
          <div class="submission-info">
            <div class="submission-category">Software Engineering</div>
            <div class="submission-title">History Slicing as a Service</div>
            <div class="submission-author">Shayan Kousha</div>
          </div>
        </a>
      </ul>
</div>
