<div class="current-issue">

  <div class="hide-on-small-and-down"><img src="assets/2018/banner.png"/></div>
  <div class="hide-on-med-and-up show-on-small"><img src="assets/2018/banner-small.png"/></div>


    <ul class="collapsible" data-collapsible="accordion">

      <li>
        <div class="collapsible-header toc-title">Letter From the Editor</div>
        <div class="collapsible-body">
          <!--content-->
          {% include 2018/letter.html %}
        </div>
      </li>
      <li>
        <div class="collapsible-header toc-title">Our Team</div>
        <div class="collapsible-body">
          <!--content-->
          {% include 2018/team.html %}
        </div>
      </li>
    </ul>

  <ul class="collection submissions-list with-header">
        <a href="/assets/2018/submissions/chen.pdf" class="submission" target="_blank">
          <div class="submission-number">1</div>
          <div class="submission-info">
            <div class="submission-category">Knowledge Representation and Reasoning, Computational Linguistics</div>
            <div class="submission-title">Translating Natural Language into Linear Temporal Logic</div>
            <div class="submission-author">Menghan Chen</div>
          </div>
        </a>
        <a href="/assets/2018/submissions/gezahegn.pdf" class="submission" target="_blank">
          <div class="submission-number">2</div>
          <div class="submission-info">
            <div class="submission-category">HCI, Accessibility, Software Engineering, Computer Vision</div>
            <div class="submission-title">Optical Braille Recognition: Allowing two-way communication between the blind and non-blind</div>
            <div class="submission-author">Helen Gezahegn, Ting-Yi Su, Wan-Chun Su, Marin Ito</div>
          </div>
        </a>
        <a href="/assets/2018/submissions/hu.pdf" class="submission" target="_blank">
          <div class="submission-number">3</div>
          <div class="submission-info">
            <div class="submission-category">Software Engineering</div>
            <div class="submission-title">Exploring Next States and Alternative Paths in Goal Model Analysis</div>
            <div class="submission-author">Boyue Hu</div>
          </div>
        </a>
        <a href="/assets/2018/submissions/moturu.pdf" class="submission" target="_blank">
          <div class="submission-number">4</div>
          <div class="submission-info">
            <div class="submission-category">Computer Vision, Machine Learning</div>
            <div class="submission-title">Creation of Synthetic X-Rays to Train a Neural Network to Detect Lung Cancer</div>
            <div class="submission-author">Abhishek Moturu, Alex Chang</div>
          </div>
        </a>
        <a href="/assets/2018/submissions/qin.pdf" class="submission" target="_blank">
          <div class="submission-number">5</div>
          <div class="submission-info">
            <div class="submission-category">Computational Linguistics, Computers and Society</div>
            <div class="submission-title">Identifying Political Persuasion on Reddit</div>
            <div class="submission-author">YueLan Qin</div>
          </div>
        </a>
        <a href="/assets/2018/submissions/hao.pdf" class="submission" target="_blank">
          <div class="submission-number">6</div>
          <div class="submission-info">
            <div class="submission-category">Machine Learning</div>
            <div class="submission-title">Musical Analysis by Synthesis</div>
            <div class="submission-author">Siqi Hao</div>
          </div>
        </a>
        <a href="/assets/2018/submissions/zhang.pdf" class="submission" target="_blank">
          <div class="submission-number">7</div>
          <div class="submission-info">
            <div class="submission-category">Software Engineering, Computational Linguistics</div>
            <div class="submission-title">Toward Automatic Generation of Goal Models using Natural Language Processing</div>
            <div class="submission-author">Charlie Zhang</div>
          </div>
        </a>
        <a href="/assets/2018/submissions/tough.pdf" class="submission" target="_blank">
          <div class="submission-number">8</div>
          <div class="submission-info">
            <div class="submission-category">Programming Languages, Software Engineering</div>
            <div class="submission-title">CLEVER-C: Extending CLEVER to Include Coverage of C Programs</div>
            <div class="submission-author">Alexander Tough</div>
          </div>
        </a>
      </ul>
</div>
