
<div class="container">
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/danya_photo.jpg">
		</div>
		<div class="team-member" >
			<h4>Danya Lette</h4>
			<h6>Editor-in-Chief</h6>
			<p>Danya is a computer science specialist with an interest in theory. She has an eclectic background, and formerly completed a degree in philosophy at U of T. Danya spends her free time reading novels, eating popcorn, and thinking about thinking. </p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" >
			<img class="responsive-img" src="/resources/team_photos/john_photo.jpg">
		</div>
		<div class="team-member" >
			<h4>John Chen</h4>
			<h6>Director of Communications</h6>
			<p>John is a 4th year CS student at the University of Toronto, St. George Campus. He is a big fan of undergrad research, and educational outreach in CS. He enjoys the twin branches of CS: the theory and the practice; the research conference and the hackathon; the NP reduction and the multithreading software engineering, and dichotomies in general. Outside of CS, his hobbies include chess, military history and board games.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/charlie_photo.jpg">
		</div>
		<div class="team-member" >
			<h4>Charlie Chenyu Zhang</h4>
			<h6>Director of Operations</h6>
			<p>Charlie is a recent CS grad at the University of Toronto, St. George Campus. He enjoys undergrad research and educational outreach in CS. During his time at U of T, he worked on two research projects in the software engineering field. Outside of CS, his hobbies include entrepreneurship and movies.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/emmy_photo.jpg">
		</div>
		<div class="team-member" >
			<h4>Emmy Liu</h4>
			<h6>Editor</h6>
			<p>Emmy is a computer science specialist and cognitive science major at the University of Toronto. In her spare time, she enjoys reading philosophy, gaming, and going on long walks.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/vannie_photo.jpg">
		</div>
		<div class="team-member" >
			<h4>Vannie Kopalakrishnan</h4>
			<h6>Editor</h6>
			<p>Vannie Kopalakrishnan is a 3rd year student at the University of Toronto studying Computer Science and Economics. In her spare time she enjoys writing and exploring new places.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/zakir_photo.jpg">
		</div>
		<div class="team-member" >
			<h4>Zakir Chaudry</h4>
			<h6>Events Coordinator</h6>
			<p>Zakir is a 2nd year student at UofT, majoring in Computer Science. Outside of CS, he enjoys running and traveling.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/stephen_photo.jpg">
		</div>
		<div class="team-member" >
			<h4>Stephen Zhao</h4>
			<h6>Team Member</h6>
			<p>Stephen is a 3rd year computer science student at U of T. He is spending the summer exploring and assisting with machine learning research at the Vector Institute, and hopes to continue with AI research in future graduate studies. Stephen has a varied background: he has a finance degree, worked 3 years in capital markets, been a semi-professional gamer, and been an amateur game designer.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/ida_photo.jpg">
		</div>
		<div class="team-member" >
			<h4>Ida Liu</h4>
			<h6>Team Member</h6>
			<p>Ida is a third year Math and Statistics student at the University of Toronto. She loves reading about AI algorithms and believes they bring the dry statistics she crammed alive. She has the strange belief that intellectual curiosities have their very own “wavelengths” and those that match up with her own tickles her fancy. She loves to eat and is always looking for people to buy food with her.</p>
		</div>
	</div>

</div>
