---
layout: no_header
---

<div class="background">

  {% include header.html %}
  
  <div class="section no-pad-box" id="index-banner">
    <div class="container valign">
      <h1 class="review-title center white-text">RUCS</h1>
      <div class="row center">
        <h5 class="header col s12 white-text light">Review of Undergraduate Computer Science</h5>
      </div>
      <div class="row center">
        <a href="welcome" class="btn-large waves-effect waves-light white teal-text">Read More</a>
      </div>
    </div>
  </div>
</div>

<div class="full-height container valign-wrapper">
    <div class="90-height section valign">
      <div class="row">
        <div class="col s12 m4 l3">
          <h5 class="header light">Table of Contents</h5>
          <div class="collection absolute">
            <a href="#" class="collection-item">Foreword</a>
            <a href="#" class="collection-item">Chapter 1</a>
            <a href="#" class="collection-item">Chapter 2</a>
            <a href="#" class="collection-item">Chapter 3</a>
          </div>
        </div>
        <div class="col s12 m8 l9">
          <div class="row">
            <div class="marginless col m6 s12 padless">
              <div class="marginless card-panel teal">
                <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                </span>
              </div>
            </div>
            <div class="marginless col m6 s12 padless">
                <div class="marginless card-panel teal">
                  <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                  </span>
              </div>
            </div>
            <div class="marginless col m6 s12 padless">
              <div class="marginless card-panel teal">
                <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                </span>
              </div>
            </div>
            <div class="marginless col m6 s12 padless">
              <div class="marginless card-panel teal">
                <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- <div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div> -->


<!-- ---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div> -->
