<div class="current-issue">

  <div class="hide-on-small-and-down"><img src="assets/2018/banner.png"/></div>
  <div class="hide-on-med-and-up show-on-small"><img src="assets/2018/banner-small.png"/></div>


    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header toc-title">Letter From the Editor</div>
        <div class="collapsible-body">
          <!--content-->
          {% include 2019/letter.html %}
        </div>
      </li>
      <li>
        <div class="collapsible-header toc-title">Our Team</div>
        <div class="collapsible-body">
          <!--content-->
          {% include 2019/team.html %}
        </div>
      </li>
    </ul>

  <ul class="collection submissions-list with-header">
        <a href="/automated-program-synthesis" class="submission" target="_blank">
          <div class="submission-number">1</div>
          <div class="submission-info">
            <div class="submission-category">Software Engineering</div>
            <div class="submission-title">Automated Program Synthesis</div>
            <div class="submission-author">Yizhe Cheng and Bence Weisz</div>
          </div>
        </a>
        <a href="/aiutare-a-modular-benchmarking-framework" class="submission" target="_blank">
          <div class="submission-number">2</div>
          <div class="submission-info">
            <div class="submission-category">Software Engineering</div>
            <div class="submission-title">Aiutare: A Modular Benchmarking Framework</div>
            <div class="submission-author">Lukas Finnbarr O'Callahan and David Tang</div>
          </div>
        </a>
        <a href="/layer-wise-contrastive-unsupervised-representation-learning" class="submission" target="_blank">
          <div class="submission-number">3</div>
          <div class="submission-info">
            <div class="submission-category">Machine Learning</div>
            <div class="submission-title">Layer-Wise Contrastive Unsupervised Representation Learning</div>
            <div class="submission-author">Stephen Zhao</div>
          </div>
        </a>
        <a href="/expediting-verification-of-assertions-in-loops-by-isolation" class="submission" target="_blank">
          <div class="submission-number">4</div>
          <div class="submission-info">
            <div class="submission-category">Verification, Software Engineering</div>
            <div class="submission-title">Expediting Verification of Assertions in Loops by Isolation</div>
            <div class="submission-author">Murad Akhundov and Federico Mora</div>
          </div>
        </a>
      </ul>
</div>
