<p>Dear reader,</p>

    <p>
        I will not dedicate this letter to addressing for the $nth$ time "the unprecedented times" that we all find ourselves in, except  
    in passing. For many of us, including myself, it has been a disorienting year. If we have the privilege of having loved ones, hobbies, and intellectual pursuits in our lives,
    we should by all means enjoy them, and remind ourselves that these are the things that ultimately anchor our lives, not the changeable circumstances we happen to find ourselves in.
    </p>
    <p>
        We will be bringing you a reduced number of articles this year - this is by no means a statement on their quality. I am happy to have read each of these works
        and I hope that you will be as well. It's great to see that research still continues on at U of T, and that many undergrads are continuing to lend their ideas, work ethic, and fresh perspectives to the department.
    </p>
    <p>
        I would also like to thank the team that made this issue possible - thank you for your hard work. I would also like to thank Sam Toueg for his guidance, as well as Danya Lette and John Chen for their tireless support
        and guidance. It's heartening to think that so many people who have led RUCS in the past continue to be involved. Though things haven't gone the way that I intended this year, I plan to continue to be involved in RUCS 
        in the future as well, and I hope that those who have submitted their work have also been encouraged to do research, or expand their horizons.
    </p>
<p> <br/> <br/> Emmy Liu <br/>
    <em>2019-2020 Editor-in-Chief</em>, <br/> RUCS
</p>
