
<div class="container">
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/emmy_photo.jpg" style="max-width:250px;">
		</div>
		<div class="team-member" >
			<h4>Emmy Liu</h4>
			<h6>Editor-in-Chief</h6>
			<p></p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" >
			<img class="responsive-img" src="/resources/team_photos/danya_photo.jpg" style="max-width:250px;">
		</div>
		<div class="team-member" >
			<h4>Danya Lette</h4>
			<h6></h6>
			<p></p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/arif_photo.jpg" style="max-width:250px;">
		</div>
		<div class="team-member" >
			<h4>Arif Aulakh</h4>
			<h6>Editor</h6>
			<p>Arif Aulakh is a Mathematics and Computer Science student entering his 2nd year. He is passionate about topics in Computer Science as Artificial Intelligence, Data Science, and Algorithms. In his free time, Arif likes to go biking, play poker, and watch basketball.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/evan_photo.jpg" style="max-width:250px;">
		</div>
		<div class="team-member" >
			<h4>Evan Kanter</h4>
			<h6>Editor</h6>
			<p>Evan Kanter is a Computer Science Specialist (AI Focus) and Ethics, Society, and Law Major at the University of Toronto, in his 3rd academic year. Evan is passionate about Artificial Intelligence, in particular, the intersection between AI, Ethics, and Law. Evan has volunteered as an editor of RUCS to contribute to Computer Science research, learn more about the publishing process, and help fellow CS students publish their work. Outside of school, Evan enjoys playing guitar, skiing, reading, volunteering on political campaigns, competing in Mock Trial and Moot competitions, and following baseball.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/vannie_photo.jpg" style="max-width:250px;">
		</div>
		<div class="team-member" >
			<h4>Fiona He</h4>
			<h6>Editor</h6>
			<p>Vannie Kopalakrishnan is a 3rd year student at the University of Toronto studying Computer Science and Economics. In her spare time she enjoys writing and exploring new places.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/zakir_photo.jpg" style="max-width:250px;">
		</div>
		<div class="team-member" >
			<h4>Zakir Chaudry</h4>
			<h6>Events Coordinator</h6>
			<p>Zakir is a 2nd year student at UofT, majoring in Computer Science. Outside of CS, he enjoys running and traveling.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/stephen_photo.jpg">
		</div>
		<div class="team-member" >
			<h4>Stephen Zhao</h4>
			<h6>Team Member</h6>
			<p>Stephen is a 3rd year computer science student at U of T. He is spending the summer exploring and assisting with machine learning research at the Vector Institute, and hopes to continue with AI research in future graduate studies. Stephen has a varied background: he has a finance degree, worked 3 years in capital markets, been a semi-professional gamer, and been an amateur game designer.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/ida_photo.jpg">
		</div>
		<div class="team-member" >
			<h4>Ida Liu</h4>
			<h6>Team Member</h6>
			<p>Ida is a third year Math and Statistics student at the University of Toronto. She loves reading about AI algorithms and believes they bring the dry statistics she crammed alive. She has the strange belief that intellectual curiosities have their very own “wavelengths” and those that match up with her own tickles her fancy. She loves to eat and is always looking for people to buy food with her.</p>
		</div>
	</div>

</div>
