
<div class="container">
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/emmy_photo.jpg" style="max-width:250px;">
		</div>
		<div class="team-member" >
			<h4>Emmy Liu</h4>
			<h6>Editor-in-Chief</h6>
			<p>Emmy is a computer science specialist and cognitive science major in her fourth year. She has worked in several labs on work ranging from computational linguistics to human-computer interaction to machine learning. Outside of school and work, she enjoys listening to audiobooks, playing video games, and taking long walks.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/danya_photo.png" style="max-width:250px;">
		</div>
		<div class="team-member" >
			<h4>Danya Lette</h4>
			<h6>Senior Advisor</h6>
			<p>Danya is a computer science specialist with an interest in theory and programming languages. She has an eclectic background, and formerly completed a degree in philosophy at U of T. Danya spends her free time playing with her dog, reading novels, eating popcorn, and thinking about thinking.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/arif_photo.jpg" style="max-width:250px;">
		</div>
		<div class="team-member" >
			<h4>Arif Aulakh</h4>
			<h6>Editor</h6>
			<p>Arif Aulakh is a Mathematics and Computer Science student entering his 2nd year. He is passionate about topics in Computer Science as Artificial Intelligence, Data Science, and Algorithms. In his free time, Arif likes to go biking, play poker, and watch basketball.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/evan_photo.jpg" style="max-width:250px;">
		</div>
		<div class="team-member" >
			<h4>Evan Kanter</h4>
			<h6>Editor</h6>
			<p>Evan Kanter is a Computer Science Specialist (AI Focus) and Ethics, Society, and Law Major at the University of Toronto, in his 3rd academic year. Evan is passionate about Artificial Intelligence, in particular, the intersection between AI, Ethics, and Law. Evan has volunteered as an editor of RUCS to contribute to Computer Science research, learn more about the publishing process, and help fellow CS students publish their work. Outside of school, Evan enjoys playing guitar, skiing, reading, volunteering on political campaigns, competing in Mock Trial and Moot competitions, and following baseball.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/fiona_photo.jpg" style="max-width:250px;">
		</div>
		<div class="team-member" >
			<h4>Qiyuan He</h4>
			<h6>Editor</h6>
			<p>Qiyuan He is a computer science specialist with a focus in artificial intelligence. With mathematics and statistical science backgrounds, she loves learning new things and turning ideas into reality. In her free time, Qiyuan enjoys traveling, drinking coffee, and listening to Bach.</p>
		</div>
	</div>
	<div class="row team-member-row">
		<div class="team-member" style="text-align:center;">
			<img class="responsive-img" src="/resources/team_photos/yaseen_photo.jpg" style="max-width:250px;">
		</div>
		<div class="team-member" >
			<h4>Yaseen Hoque</h4>
			<h6>Social Media Coordinator</h6>
			<p>I am a computer science major at UTM that loves to make robots and stuff.I watch music and listen to anime like a weeb. Listen to me on soundcloud if you are true to the streets. Peace out.</p>
		</div>
	</div>
</div>
